* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial Narrow', sans-serif;
  scroll-behavior: smooth;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 360px) {
   #top__Image {
    background-attachment: scroll;
  }
}

.navbar {
  background: #1d1d1f;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 5px solid rgb(255, 255, 255);
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 -70px;
  position: absolute;
}

#navbar__logo {
  background-color: #ffffff;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 175px;
  text-decoration: none;
  height: 100%;
  transition: all .05s ease;
}

.navbar__links:hover {
  color: #ffffff;
  transition: all 0.05s ease;
  text-decoration: underline;
  font-size: 105%;
  border: 5px solid rgb(255, 255, 255);
  border-top: 5px solid rgb(255, 255, 255);;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.1s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    font-size: 100%;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .upArrow {
   transform: rotate(180deg);
   position: relative;
   width: 40px;
   height: 40px;
   top: -10%;
   left: 65px;
  }
}

/* STarts the first section*/


  #top{
    height: 1000px;
    width: 100%;
    background:rgb(48, 47, 47);
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: -70px;
    position: relative;

  }

  #top_Text{
      font-size: 3.5rem;
      display: grid;
      justify-content: center;
      font: "Lucida Console", "Courier New", monospace;
      position: static;
      margin-top: -18.5%;
      text-shadow:2px 2px  rgb(129, 129, 129);
      color: rgb(255, 255, 255);
      text-decoration: underline ;
      
  }

  #top__Image {

    background-image: url("../resource/images/3-37929_ultra-hd-earth-4k.jpg");
    min-height: 1024px;
    min-width: 3840px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
  }  

  .upArrow{
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 48.5%;
  margin-top: 300px;
  }

  .chevron {
    position: absolute;
    width: 100px;
    height: 20px;
    opacity: 0;
    align-items: center;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
  }
  
  .chevron:first-child {
    animation: move 3s ease-out 1s infinite;

  }
  
  .chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
  }
  
  .chevron:before,
  .chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
  }
  
  .chevron:before {
    left: 0px;
    transform: skew(0deg, 30deg);
  }
  
  .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }
  
  @keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(20px);
    }
    67% {
      opacity: 1;
      transform: translateY(140px);
    }
    100% {
      opacity: 0;
      transform: translateY(155px) scale3d(0.5, 0.5, 0.5);
    }
  }
  



  .services {
    background: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10rem 100px;
    min-height: 1100px;
  }
  
  .services h1 {
    background-color: #0c0909;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 5rem;
    font-size: 3.5rem;
  }
  
  .services__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
  }
  
  .services__card {
    margin: 10px;
    height: 15rem;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    transition: 0.3s ease-in;
  }
  
  .services__card:nth-child(2) {
    background: #1fa2ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #a6ffcb,
      #12d8fa,
      #1fa2ff
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #a6ffcb,
      #12d8fa,
      #1fa2ff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  

  .services h1{
    text-align: center;
    background-color: white;
  }

  .services__card h2 {
    text-align: center;
  }
  
  .services__card p {
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
  }
  
  .services__btn {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  
  .services__card h3 {
    color: #fff;
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #131313;
    font-size: 1rem;
    width: 200px;
  }

  
  .services__card:hover {
    transform: scale(1.015);
    transition: 0.01s ease-in;
    box-shadow:
    0 0 6px 3px rgb(255, 255, 255),
    0 0 10px 6px rgb(3, 112, 255),
    0 0 14px 9px rgb(0, 209, 209);
  }
  
  @media screen and (max-width: 1300px) {
    .services__wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (max-width: 768px) {
    .services__wrapper {
      grid-template-columns: 1fr;
    }
  }



.pictures h1{
  text-align: center;
}

 #Rocket__Pictures{
  background-image: url("https://cdn.wallpapersafari.com/21/16/Q9EIrk.jpg");
  min-height: 600px;
  width: auto;
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -10px;

 }


/* total width */
body::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0.877);
  width: 5px;

}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 16px;
  border: 3px solid rgb(255, 255, 255);
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display:none;
}
@media screen and (orientation: landscape) {
  head {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
