* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  html,body
  {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      overflow-x: hidden; 
  }
  
  .navbar {
    background: #131313;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-top: 1px solid rgb(255, 255, 255);
  }
  
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Kumbh Sans', sans-serif;
  }
  
  .navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    
  }
  
  .navbar__item {
    height: 70px;
    font-size: 1.5rem;
    font-family: 'Kumbh Sans', sans-serif;
  }
  
  .navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    text-decoration: none;
    height: 100%;
  }
  #navbar__logo{
    background-color:white;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem
  }
/* STarts the first section*/


  #top{
    height: 1000px;
    width: 100%;
    background:rgb(48, 47, 47);
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: -70px;

  }

  #top_Text{
      font-size: 3rem;
      display: flex;
      justify-content: center;
      margin-top: 100px;
      font: "Lucida Console", "Courier New", monospace;
      position: static;
      top: 50%;
      left: 50%;
      margin-top: -25%;
      text-shadow:2px 2px  white;
      
  }

  #top__Image {
    background-image: url('https://preview.redd.it/bcjii9atj2y31.jpg?width=5120&format=pjpg&auto=webp&s=a6cb324a2286ff1f0db0bcb464646c17f36dc4e2');
    min-height: 1000px;
    width: 2000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
  }  

/* This starts the middle of the passage */
  #breaker{
    height: -70px;
    width: 1900px;
    border-style: solid;
    border-top-width: 20px;
    margin-top: 70px;
    color: rgb(0, 0, 0);
    border-bottom-left-radius: 100px;    
    border-bottom-right-radius: 100px;


  }

  #middle{
    height: 800px;
    width: 100%;
    background:rgb(235, 232, 232);
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: -70px;
  }

  #middle_Text{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font: "Courier New", "Courier New", monospace;
    position: static;
    top: 50%;
    left: 50%;
    color: rgb(255, 255, 255);
  }
  
  #bottom{
    display: flex;
    font-size: 10px;
    margin: 0% auto;
    padding:0 auto;
    height: 1000px;
    width: auto;
    background:rgb(24, 190, 176)
  }
